/*
    red: #c54a4a
*/

@import "constants.less";



html, body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow-x: hidden;
}

.skrollable {
    /*
     * First-level skrollables are positioned relative to window
     */
    position: fixed;

    /*
     * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
     */
    z-index:100;
}

/*
.skrollable.unrendered {
    display:none !important;
}
*/

.skrollable .skrollable {
    /*
     * Second-level skrollables are positioned relative their parent skrollable
     */
    position:absolute;
}

.skrollable .skrollable .skrollable {
    /*
     * Third-level (and below) skrollables are positioned static
     */
    position:static;
}




html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'museo_sans_500regular', sans-serif;
    font-size: 12px;
}

body {
    background-image: url(../img/background-side.png);
    background-attachment: fixed;
}
h1, h2, h3, h4 {
    font-family: 'BebasNeueRegular', sans-serif;
    font-weight: normal;
}

.red {
    color: #c54a4a;
}

#left {
    width: 20%;
    height: 100%;
    text-align: right;
    padding: 0;
    position: fixed;
    float: left;
    box-shadow: inset rgba(0, 0, 0, 0.48) -3px 0px 6px -4px;
    
    p {
        margin-right: 12px;
        margin-left: 4px;
    }
    
    nav {
        margin-top: 3em;
        position: relative;
        margin-right: 12px;
        
        #nav-pointer {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 4%;
            margin-right: -17px;
            background-color: #C54A4A;
        }
    }
    
    nav a {
        text-decoration: none;
        color: inherit;
        -webkit-transition: color .25s;
        transition: color .25s;

        &:hover {
            .red;
        }
    }
    
    #contact-me {
        position: absolute;
        bottom: 2em;
        right: 1em;
        
        .linked-in-icon {
            width: 23px;
            height: 23px;
            background-image: url(../img/linked-in-icon.png); 
            display: inline-block;
            margin-bottom: -6px;
        }
        
        .email-icon {
            width: 29px;
            height: 21px;
            background-image: url(../img/email-icon.png);
            display: inline-block;
            margin-bottom: -5px;
        }
        
        .fb-like {
            iframe {
                height: 20px !important;
            }
        }
    }
    
}


#left h1 {
    margin: 0 12px 18px 0px;
    padding-top: 34px;
    color: #C54A4A;
    font-size: 51px;
    font-weight: normal;
    width: 155px;
    line-height: 42.5px;
    text-align: right;
    clear: both;
    float: right;
    
    &:hover {
        cursor: pointer;
    }
}

#right {
    position: fixed;
    left: 20%;
    width: 80%;
    background-color: white;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 5px;*/
    /*height: 100%;*/
}

#frames {
    background-image: url(../img/title-frames.png);
    background-repeat: no-repeat;
    background-position: 0 -121px;
    background-size: 100%;
    //position: relative;
    left: 50%;
    margin: 0 0 0 -353px;
    list-style-type: none;
    z-index: 75;
}

#frames li {
    position: absolute;
    font-family: 'BebasNeueRegular', sans-serif;
    display: block;
    text-align: center;
    
    &:hover {
        .red;
        cursor: pointer;
    }
}

#begin-the-tour {
    width: 166px;
    height: 60px;
    background-color: black;
    background-image: url(../img/begin-arrow.png);
    background-repeat: no-repeat;
    left: 50%;
    margin-left: -47px;
    color: white;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 31px;
    padding: 1px 0 0;
    text-align: center;
    background-position: 50% 85%;
    z-index: 80;
    box-shadow: rgba(0, 0, 0, 0.41) 0px 5px 2px -2px;
    
    &:hover {
        cursor: pointer;
    }
}





.plaque {
    background-color: white;
    border: 1px solid #707070;
    left: @wirespadding;
    width: 330px;
    margin-left: @wiresfix + 310px;
    box-shadow: rgba(0, 0, 0, 0.341176) 0px 3px 2px -2px;
    
    .plaque-header { border-bottom: 1px solid #CECECE; padding: 4px 4px 4px 7px; }
    .plaque-header h2 { margin: 0 0 0 0; font-size: 40px; line-height: 40px; }
    .plaque-content { padding: 7px 7px; }
    
    a {
        .red;
        text-decoration: none;
        &:hover {
            color: lighten(@red, 20%);
        }    
    } 
     
    .dates {
        font-family: 'BebasNeueRegular', sans-serif;
        font-size: 23px;
        padding: 0px;
        display: inline-block;
        margin-top: -7px;
        margin-right: 3px;
    }
    
    .title {
        display: inline-block;
        color: #ACACAC;
        padding: 0;
    }
    
    .quote {
        text-align: center;
        color: #929292;
    }
    
    p {
        margin: 0.5em 0;
    }
}

@import "frames.less";



#transform {
  width: 70%;
  left: 50%;
  top: 20%;
  margin-left: -35%;
  text-align: center;
  font-size: 150%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
#properties {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#bg-white {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 50;
}